@model IEnumerable<Categorie>
@{
    ViewBag.ActiveCategorie = "active";
    ViewBag.Title = "Catégories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="~/Compte/CategoryAdd" class=" m-0 btn btn-info fa-pull-right"><i class="fas fa-plus"></i> Ajouter une nouvelle catégorie</a>
        <h6 class="m-0 font-weight-bold text-primary">Détails Catégorie</h6>
    </div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
<tr>
    <th>Nom</th>
    <th>Action</th>
</tr>
</thead>
<tfoot>
<tr>
    <th>Nom</th>
    <th>Action</th>
</tr>
</tfoot>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>                            
            @Html.ActionLink("Modifier", "CategoriesEdit", new { categoryId = item.Id },new{@class= "btn btn-outline-primary" }) | 
            @Html.ActionLink("Supprimer", "CategoryDelete", new{categoryId = item.Id}, new {@class = "btn btn-outline-danger" })
        </td>
       
    </tr>
}

</tbody>
</table>
</div>
</div>
</div>